@font-face {
  font-family: pt-sans;
  font-weight: 400;
  src: url("pt-sans-400.woff2") format("woff2");
}

@font-face {
  font-family: pt-sans;
  font-weight: 700;
  src: url("pt-sans-700.woff2") format("woff2");
}

@font-face {
  font-family: droid-sans-mono;
  font-weight: 400;
  src: url("droid-sans-mono.woff2") format("woff2");
}

:root {
  --shadow-height: 0.5rem;
  --shadow-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.05) 30%,
    transparent 100%
  );
  --height: 60px;
  --prs-scrollbar: rgba(0, 0, 0, 0.3);
  --prs-back-1: hsl(206, 20%, 80%);
  --sidebar-width: 25rem;
  --prs-text-xl: 4rem;
  --prs-text-l: 2.2rem;
  --prs-text-m: 1.6rem;
  --prs-text-s: 1.4rem;
  --prs-text-xs: 1.2rem;
  --prs-text-xxs: 1rem;
  --prs-link: hsl(0, 0%, 27%);
  --prs-page-padding-side: 6rem;
  --prs-navbar-shadow-light: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  --prs-navbar-shadow-dark: #bababa 0 1px 2px 0;
  --prs-primary: #a26937;
  --h1: var(--prs-text-xl);
  --h2: var(--prs-text-l);
  --h3: var(--prs-text-m);
  --h4: var(--prs-text-s);
  --h5: var(--prs-text-xs);
  --h6: var(--prs-text-xxs);
  --a: var(--prs-link);
}

* {
  box-sizing: inherit;
  scrollbar-width: thin;
  scrollbar-color: red; /*var(--prs-scrollbar) transparent;*/
}

html {
  font-size: 62.5%;
  border-collapse: collapse;
}

body {
  margin: 0;
  font-size: var(--prs-text-m);
  font-family: pt-sans, sans-serif;
  line-height: 1.5;
}

.dark,
.dark header {
  background-color: #1e1e20;
}

.dark .sidebar {
  background-color: #161616;
}

body.dark,
.dark header,
.dark a,
.dark button,
.dark aside {
  color: #fff;
}

.dark a:hover,
.dark button:hover,
.dark article a {
  color: var(--prs-primary);
}

h1 {
  margin-bottom: 0;
}

h1,
h2 {
  font-weight: normal;
  margin-top: 0;
}

h2 {
  margin-top: 5rem;
  border-bottom: 1px solid #f2f6fa;
}

.dark h2 {
  border-bottom: 1px solid #0d0905;
}

h3 {
  margin-top: 5rem;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  height: var(--height);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  padding: 0 var(--prs-page-padding-side);
  box-sizing: border-box;
  box-shadow: var(--prs-navbar-shadow-light);
}

.dark header {
  background-color: #000;
  box-shadow: var(--prs-navbar-shadow-dark);
}

main {
  display: flex;
  padding-top: var(--height);
}

.sidebar {
  flex-basis: var(--sidebar-width);
  background: #f7fafd;
  border-right: 1px solid #c2cdd6;
  padding-left: var(--prs-page-padding-side);
  padding-right: 0;
  width: var(--sidebar-width);
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.dark .sidebar {
  background: #080502;
  border-right: 1px solid #3d3229;
}

.sidebar ul {
  margin-bottom: 12rem;
}

.sidebar .heading {
  color: #676779;
  padding-top: var(--prs-page-padding-side);
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--prs-text-s);
  letter-spacing: 1px;
}

.dark .sidebar .heading {
  color: #989886;
}

.sidebar li {
  padding-bottom: 1rem;
}

.sidebar .current {
  font-weight: bold;
}

.sidebar a,
.on-this-page a {
  display: block;
}

.on-this-page {
  position: fixed;
  left: calc(100vw - var(--sidebar-width));
  margin: 6rem 0;
  padding: 0 1rem;
  font-size: var(--prs-text-s);
  border-left: 1px solid rgba(60, 60, 67, 0.12);
}

.on-this-page h4 {
  margin: 0;
  padding: 0.3rem 0.5rem;
  color: #676779;
  font-weight: normal;
  font-size: var(--prs-text-xs);
  text-transform: uppercase;
}

.dark .on-this-page h4 {
  color: #989886;
}

.on-this-page a {
  padding: 0.3rem 0.5rem;
}

.edit-this-page {
  align-items: center;
  display: flex;
  font-size: var(--prs-text-s);
  padding-bottom: 0.5rem;
}

.edit-this-page .icon {
  margin-right: 0.5rem;
}

a,
button {
  text-decoration: none;
  color: #454545;
}

.dark a,
.dark button {
  color: #bababa;
}

a:hover,
button:hover {
  color: var(--prs-primary);
  transition: color 0.25s, border-color 0.25s;
  cursor: pointer;
}

button {
  padding: 0;
  background: none;
  border: 0;
}

.home,
.home:hover {
  display: flex;
  align-items: center;
  font-size: var(--prs-text-m);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.home img {
  width: 2rem;
  margin-right: 1rem;
}

.search {
  flex-grow: 1;
}

.navbar {
  align-items: center;
  display: flex;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a.active {
  font-weight: bold;
}

.ic {
  margin: 0 0.5rem;
  line-height: 0;
}

.divider {
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}

article {
  flex-grow: 1;
  padding-top: var(--prs-page-padding-side);
  padding-bottom: var(--prs-page-padding-side);
  padding-left: calc(var(--sidebar-width) + 2 * var(--prs-page-padding-side));
  padding-right: calc(var(--sidebar-width) + var(--prs-page-padding-side));
}

article ul {
  list-style: circle;
  margin: 1.6rem;
  margin-right: 0;
}

article a {
  color: var(--prs-primary);
}

article a:hover {
  text-decoration: underline;
}

pre,
code {
  padding: 0 0.4rem;
  font-size: var(--prs-text-s);
  font-family: droid-sans-mono, sans-serif;
  background-color: #f7fafd;
}

.dark pre,
.dark code {
  background-color: #080502;
}

pre code {
  background-color: transparent;
  padding: 0;
}

pre {
  color: #5f5c53;
  box-shadow: inset 1px 1px 6px #1d56800f;
  padding: 1rem;
  margin-top: 0;
}

.caption {
  background-color: #d3dce6;
  font-family: droid-sans-mono, sans-serif;
  font-size: var(--prs-text-s);
  padding: 0.5rem 1rem;
  color: #5f5c53;
}

.dark .caption {
  background-color: #2c2319;
  color: #a0a3ac;
}

.anchor {
  padding-top: 14rem;
}

.box {
  padding: 1rem;
  border: 1px solid var(--prs-primary);
  border-radius: 2px;
}

.hero article {
  text-align: center;
  padding: calc(2 * var(--prs-page-padding-side)) 0;
}

.hero img {
  width: 60px;
}

.hero h1 {
  font-weight: bold;
  letter-spacing: 1px;
}

.hero h2 {
  font-size: 2.7rem;
  margin-top: 1rem;
  border-bottom: 0;
  color: #454545;
}

.dark .hero h2 {
  color: #bababa;
}

img.background {
  position: fixed;
  right: 0;
  bottom: 0;
  filter: opacity(15%) invert(100%);
}

.dark img.background {
  filter: opacity(15%)
}

.hero::before {
  background-image: url("/theme.png");
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
  filter: opacity(40%) sepia(100%);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.dark .hero::before {
  filter: opacity(15%);
}

.hero .buttons {
  margin-top: 4rem;
}

.hero .buttons a {
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.3rem;
  font-size: var(--prs-text-m);
  margin: 0 1rem;
}

.hero .buttons a:hover {
  text-decoration: none;
}

.hero .buttons a.primary {
  background-color: var(--prs-primary);
  color: white;
  border: 1px solid var(--prs-primary);
}

.hero .buttons a.secondary {
  color: #454545;
  border: 1px solid #454545;
}

.hero .buttons a.secondary:hover {
  border: 1px solid var(--prs-primary);
}

.dark .hero .buttons a.secondary{
  color: #bababa;
  border: 1px solid #bababa;
}

.dark .hero .buttons a.secondary:hover {
  border: 1px solid var(--prs-primary);
}

@media (max-width: 1200px) {
  .on-this-page {
    display: none;
  }
  article {
    padding-right: var(--prs-page-padding-side);
  }
}
