@font-face {
  font-family: pt-sans;
  font-weight: 400;
  src: url("pt-sans-400.woff2") format("woff2");
}

@font-face {
  font-family: pt-sans;
  font-weight: 700;
  src: url("pt-sans-700.woff2") format("woff2");
}

@font-face {
  font-family: droid-sans-mono;
  font-weight: 400;
  src: url("droid-sans-mono.woff2") format("woff2");
}

:root {
  --shadow-height: 0.5rem;
  --shadow-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.05) 30%,
    transparent 100%
  );
  --height: 60px;
  --prs-scrollbar: rgba(0, 0, 0, 0.3);
  --prs-back-1: hsl(206, 20%, 80%);
  --sidebar-width: 25rem;
  --prs-text-xl: 4rem;
  --prs-text-l: 2.2rem;
  --prs-text-m: 1.6rem;
  --prs-text-s: 1.4rem;
  --prs-text-xs: 1.2rem;
  --prs-text-xxs: 1rem;
  --prs-link: hsl(0, 0%, 27%);
  --prs-page-padding-side: 6rem;
  --prs-navbar-shadow-light: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  --prs-navbar-shadow-dark: #bababa 0 1px 2px 0;
  --prs-primary: #a26937;
  --h1: var(--prs-text-xl);
  --h2: var(--prs-text-l);
  --h3: var(--prs-text-m);
  --h4: var(--prs-text-s);
  --h5: var(--prs-text-xs);
  --h6: var(--prs-text-xxs);
  --a: var(--prs-link);
}

* {
  box-sizing: inherit;
  scrollbar-width: thin;
  scrollbar-color: red; /*var(--prs-scrollbar) transparent;*/
}

html {
  font-size: 62.5%;
  border-collapse: collapse;
}

body {
  margin: 0;
  font-size: var(--prs-text-m);
  font-family: pt-sans, sans-serif;
  line-height: 1.5;
  background: #fff;
}

::selection{ background: #b39072; color: #fff; text-shadow: none; }

button {
  font-family: pt-sans, sans-serif;
}

body.dark {
  background: #000;
}

.dark,
.dark header {
  background-color: #1e1e20;
}

.dark .sidebar {
  background-color: #161616;
}

body.dark,
.dark header,
.dark a,
.dark button,
.dark aside {
  color: #fff;
}

.dark a:hover,
.dark button:hover,
.dark article a {
  color: var(--prs-primary);
}

h1 {
  margin-bottom: 0;
}

h1,
h2 {
  font-weight: normal;
  margin-top: 0;
}

h2 {
  margin-top: 5rem;
  border-bottom: 1px solid #f2f6fa;
}

.dark h2 {
  border-bottom: 1px solid #0d0905;
}

h3 {
  margin-top: 5rem;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  height: var(--height);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  padding: 0 var(--prs-page-padding-side);
  box-sizing: border-box;
  box-shadow: var(--prs-navbar-shadow-light);
}

.dark header {
  background-color: #000;
  box-shadow: var(--prs-navbar-shadow-dark);
}

main {
  display: flex;
  padding-top: var(--height);
}

.sidebar {
  background-color: #f7fafd;
  border-right: 1px solid #c2cdd6;
  padding-left: var(--prs-page-padding-side);
  padding-right: 0;
  width: var(--sidebar-width);
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.dark .sidebar {
  background-color: #080502;

  border-right: 1px solid #3d3229;
}

.heading {
  color: #676779;
  text-transform: uppercase;
  font-size: var(--prs-text-s);
  letter-spacing: 1px;
}

.dark .heading {
  color: #989886;
}

.sidebar ul {
  margin-bottom: 12rem;
}

.sidebar .heading {
  padding-top: var(--prs-page-padding-side);
  display: inline-block;
}

.sidebar li {
  padding-bottom: 1rem;
}

.sidebar .current {
  font-weight: bold;
}

.sidebar a,
.on-this-page a {
  display: block;
}

.on-this-page {
  position: fixed;
  left: calc(100vw - var(--sidebar-width));
  margin: 6rem 0;
  padding: 0 1rem;
  font-size: var(--prs-text-s);
  border-left: 1px solid rgba(60, 60, 67, 0.12);
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.on-this-page h4 {
  margin: 0;
  padding: 0.3rem 0.5rem;
  color: #676779;
  font-weight: normal;
  font-size: var(--prs-text-xs);
  text-transform: uppercase;
}

.on-this-page ul {
  margin-bottom: 12rem;
}

.dark .on-this-page h4 {
  color: #989886;
}

.on-this-page a {
  padding: 0.3rem 0.5rem;
}

.edit-this-page, .blog-metadata {
  align-items: center;
  display: flex;
  font-size: var(--prs-text-s);
  padding-bottom: 0.5rem;
}

.edit-this-page .icon, .blog-metadata .icon {
  margin-right: 0.5rem;
}

.blog-metadata .author {
  margin-left: 0.5rem;
}

a,
button {
  text-decoration: none;
  color: #454545;
}

.dark a,
.dark button {
  color: #bababa;
}

a:hover,
button:hover {
  color: var(--prs-primary);
  transition: color 0.25s, border-color 0.25s;
  cursor: pointer;
}

button {
  padding: 0;
  background: none;
  border: 0;
}

.home,
.home:hover {
  display: flex;
  align-items: center;
  font-size: var(--prs-text-m);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.home img {
  width: 2rem;
  margin-right: 1.5rem;
}

.search {
  flex-grow: 1;
}

.navbar {
  align-items: center;
  display: flex;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a.active {
  font-weight: bold;
}

.ic {
  margin: 0 0.5rem;
  line-height: 0;
}

.divider {
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}

article {
  flex-grow: 1;
  padding-top: var(--prs-page-padding-side);
  padding-bottom: var(--prs-page-padding-side);
  padding-left: calc(var(--sidebar-width) + 2 * var(--prs-page-padding-side));
  padding-right: calc(var(--sidebar-width) + var(--prs-page-padding-side));
}

article ul {
  list-style: circle;
  margin: 1.6rem;
  margin-right: 0;
}

article a {
  color: var(--prs-primary);
}

article a:hover {
  text-decoration: underline;
}

pre,
code {
  padding: 0 0.4rem;
  font-size: var(--prs-text-s);
  font-family: droid-sans-mono, sans-serif;
  background-color: #f7fafd;
}

.dark pre,
.dark code {
  background-color: #080502;
}

pre code {
  background-color: transparent;
  padding: 0;
}

pre {
  color: #5f5c53;
  box-shadow: inset 1px 1px 6px #1d56800f;
  padding: 1rem;
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px 5px;
  border: 1px solid #c2cdd6;
  text-align: center;
  font-size: 1.5rem;
}

.dark th, .dark td {
  border: 1px solid #3d3229;
}

th {
  background-color: #f7fafd;
  color: #676779;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}

.dark th {
  background-color: #080502;
}

.caption {
  background-color: #d3dce6;
  font-family: droid-sans-mono, sans-serif;
  font-size: var(--prs-text-s);
  padding: 0.5rem 1rem;
  color: #5f5c53;
}

.dark .caption {
  background-color: #2c2319;
  color: #a0a3ac;
}

.anchor {
  padding-top: 14rem;
}

.box {
  padding: 1rem;
  border: 1px solid var(--prs-primary);
  border-radius: 2px;
}

.hero img {
  width: 46px;
  margin-right: 30px;
}

.hero .header {
  padding: calc(var(--prs-page-padding-side) * 1.25);
  background: #f7fafd;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #c2cdd6;
}

.hero .header .flank {
  flex: 1;
}

.hero .header .middle {
  flex-basis: 470px;
  display: flex;
}

.dark .hero .header {
  background: #080502;
  border-bottom: 1px solid #3d3229;
}

.hero .footer {
  background: #f7fafd;
  border-top: 1px solid #c2cdd6;
  padding: 30px 0;
}

.dark .hero .footer {
  background: #080502;
  border-top: 1px solid #3d3229;
}

.hero .footer .heading {
  margin-bottom: 10px;
}

.hero .footer li {
  margin-bottom: 5px;
}

.hero .header h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #565656;
  line-height: 1;
  margin-bottom: 15px;
}

.hero .header h2 {
  margin-top: 0;
  margin-left: 7px;
  margin-bottom: 24px;
}

.dark .hero h1 {
  color: #bababa;
}

.hero .buttons {
  display: flex;
}

.hero .buttons .clip {
  display: flex;
  align-items: center;
}

main.hero {
  display: block;
}

.hero .buttons a, .hero .buttons button {
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 1.4rem;
  margin: 0 1rem;
  z-index: 1;
  color: #454545;
}

.hero .buttons button,
.hero .buttons button:hover,
.hero .buttons svg {
  text-decoration: none;
  color: #454545;
  cursor: pointer;
}

.dark .hero .buttons button,
.dark .hero .buttons button:hover,
.dark .hero .buttons svg {
  color: #bababa;
}

.hero .buttons a.primary {
  background-color: var(--prs-primary);
  color: #fff;
  border: 1px solid var(--prs-primary);
  margin-left: 7px;
}

.hero .buttons button {
  border: 1px solid #c2cdd6;
  background-color: #fff;
  height: 33px;
  box-sizing: border-box;
}

.dark .hero .buttons button {
  border: 1px solid #3d3229;
  background-color: #000;
}

.tabbed .captions {
  display: flex;
  border: 1px solid #c2cdd6;
  border-bottom: 0;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  font-size: 14px;
  padding: 10px;
}

.dark .tabbed .captions {
  border: 1px solid #3d3229;
}

.tabbed .captions span {
  padding: 0 10px;
  cursor: pointer;
}

.tabbed .captions .active {
  font-weight: bold;
}

.hero .table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.hero table a {
  color: var(--prs-primary);
}

.hero table a:hover {
  text-decoration: underline;
}

.hero .table > div, .hero > h1 {
  padding: 0 30px;
}

.hero .table h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero .table p {
  font-size: 18px;
}

.hero .logos img {
  height: 24px;
  width: auto;
  margin-right: 5px;
}

.hero .interim-title {
  text-align: center;
  color: #676779;
  font-size: 24px;
  text-transform: uppercase;
  margin: 50px 0;
}

.dark .hero .interim-title {
  color: #989886;
}

.hero .table a {
  color: var(--prs-primary);
}

.hero .table a:hover {
  text-decoration: underline;
}

.dark .hero .logos .invertible {
  filter: invert(1);
}

.hero .comparison {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 30px;
}

img.background {
  position: fixed;
  right: 0;
  bottom: 0;
  filter: opacity(15%) invert(100%);
}

.dark img.background {
  filter: opacity(15%);
}

.controls {
  border-top: 1px solid #f2f6fa;
  margin: 6rem 0 0;
  padding: 1rem 0 0;
  display: flex;
}

.controls .previous, .controls .next {
  flex: 1;
}

.controls .next {
  text-align: right;
}

.controls .heading {
  font-size: var(--prs-text-s);
}

.dark .controls {
  border-top: 1px solid #0d0905;
}

.dark article.blog img {
  filter: invert(88%);
}

@media (max-width: 428px) {
  .home .title {
    display: none;
  }
  header, article {
    padding-left: calc(var(--prs-page-padding-side) / 2);
    padding-right: calc(var(--prs-page-padding-side) / 2);
  }
  main article {
    max-width: 100vw;
    box-sizing: border-box;
    padding: 30px;
  }
  .sidebar {
    display: none;
  }
  code {
    white-space: break-spaces;
  }
}

@media (max-width: 1200px) {
  .on-this-page {
    display: none;
  }
  article {
    padding-right: var(--prs-page-padding-side);
  }
}
